<mat-card>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Panel I
        </mat-panel-title>
        <mat-panel-description>
          Panel I description
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Panel I contents</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Panel II
        </mat-panel-title>
        <mat-panel-description>
          Panel II description
        </mat-panel-description>

      </mat-expansion-panel-header>
      <p>Panel II contents</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
